.header-responsive {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.header-responsive .text-principal {
    margin-right: 5px;
}
@media (min-width: 768px) {
    .header-responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
    .header-responsive a {
        margin-right: 0px;
    }
    .navbar-nav a {
        margin-right: 20px;
    }
    .navbar-nav a:last-of-type {
        margin-right: 0px;
    }
    a .icon {
        display: block;
        margin: 0 auto;
    }
}



.logo::before {
    content: "📌";
}