<div class="container">
    <h3>Gestionar solicitud:</h3>

    <div class="form-group">
        <input type="text" [(ngModel)]="paramBusqueda" class="form-control" id="searchInput" placeholder="#ticket, área y/o municipio">
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead>
            <tr>
            <th scope="col"># ID</th>
            <th scope="col">Área</th>
            <th scope="col">Municipio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Usuario</th>
            <th scope="col">Estado</th>
            <th class="text-center" scope="col">Editar</th>
            <th class="text-center" scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of dashboardList; let i = index">
              <ng-container *ngIf='paramBusqueda == "" || element.id == paramBusqueda || element.area == paramBusqueda || element.municipio == paramBusqueda'>
                <td>{{element.id}}</td>
                <td>{{element.area}}</td>
                <td>{{element.municipio}}</td>
                <td>{{element.descripcion}}</td>
                <td>{{element.usuario}}</td>
                <td>{{element.accion}}</td>
                <td class="text-center"><img (click)="editar(element.id)" class="icono-editar" src="assets/img/edit.svg" alt="editar" width="25px"></td>
                <td class="text-center"><img (click)="this.modificarTicket = element.id" class="icono-delete" src="assets/img/delete.svg" alt="borrar" width="25px" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"></td>
              </ng-container>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger" id="exampleModalToggleLabel">Advertencia:</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>¿Esta seguro de eliminar el registro?, esta acción es irreversible.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
              <button [routerLink]="'/administracion'" (click)="deleteData()" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
</div>
