<div class="container">
    <h3>Gestionar solicitud:</h3>

    <div class="form-group">
        <input type="text" class="form-control" id="searchInput" placeholder="#ticket, área y/o municipio">
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead>
            <tr>
            <th scope="col"># ID</th>
            <th scope="col">Área</th>
            <th scope="col">Municipio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Responsable</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>45250</td>
                <td>Soporte</td>
                <td>Laguna Negra</td>
                <td>No imprime los reportes</td>
                <td>Javier Vargas</td>
                <td>Pendiente</td>
                <td class="text-center"><img (click)="editar()" class="icono-editar" src="assets/img/edit.svg" alt="editar" width="25px"></td>
                <td class="text-center"><img class="icono-delete" src="assets/img/delete.svg" alt="borrar" width="25px" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"></td>
                <td></td>
            </tr>
            <tr>
                <td>45251</td>
                <td>Adminitrativa</td>
                <td>Oficinas Transfors</td>
                <td>Control de plagas por comején... Urgente!!!</td>
                <td>Raquel</td>
                <td>Pendiente</td>
                <td class="text-center"><img (click)="editar()" class="icono-editar" src="assets/img/edit.svg" alt="editar" width="25px"></td>
                <td class="text-center"><img class="icono-delete" src="assets/img/delete.svg" alt="borrar" width="25px" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger" id="exampleModalToggleLabel">Advertencia:</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>¿Esta seguro de eliminar el registro?, esta acción es irreversible.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
              <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
</div>
