<div class="container mt-2">
    <h1>Visualizar / Modificar Ticket</h1>
    <form id="add-Ticket" name="add-Ticket" class="was-validated"  action="">

        <div class="row">
          <div class="col-12 col-md-4 mb-3">
            <label for="ticket" class="form-label">*#Ticket:</label>
            <input [(ngModel)]="paramsId.id" type="text" id="ticket" class="form-control" name="ticket" readonly>              
          </div>

          <div class="col-12 col-md-4 mb-3">
            <label for="area" class="form-label">*Area:</label>
            <select [(ngModel)]="ticket.area" id="area" class="form-control" name="area">
              <option [ngValue]="">Contabilidad</option>
              <option [ngValue]="">Tecnología</option>
              <option [ngValue]="">Administrativa</option>
              <option [ngValue]="">Soporte</option>
            </select>
          </div>
    
          <div class="col-12 col-md-4 mb-3">
            <label  for="responsable" class="form-label">*Responsable:</label>
            <select [(ngModel)]="ticket.responsable" id="responsable" class="form-control" name="responsable">
              <option [ngValue]="">Lider 1</option>
              <option [ngValue]="">Lider 2</option>
              <option [ngValue]="">Lider 3</option>
            </select>
          </div>
        </div>
    
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label for="departamento" class="form-label">*Departamento:</label>
            <input [(ngModel)]="ticket.departamento" type="text" id="departamento" class="form-control" name="departamento">
          </div>
    
          <div class="col-12 col-md-6 mb-3">
            <label for="municipio" class="form-label">*Municipio:</label>
            <input [(ngModel)]="ticket.municipio" type="text" id="municipio" class="form-control" name="municipio">
          </div>
    
        </div>
    
        <div class="mb-3">
          <label for="infoServicio" class="form-label">*Descripción del Ticket:</label>
          <textarea [(ngModel)]="ticket.descripcion" class="form-control" id="infoServicio" name="infoServicio" rows="3"required>{{ticket.descripcion}}</textarea>
        </div>

        <div class="mb-3">
            <label for="solucion" class="form-label">*Solución:</label>
            <textarea [(ngModel)]="ticket.solucion" class="form-control" id="solucion" name="solucion" rows="3" required>{{ticket.solucion}}</textarea>
          </div>
    
        <div class="row">
    
          <div class="col-12 col-md-6 mb-3">
            <label for="fechaIngreso" class="form-label">*Fecha:</label>
            <input [(ngModel)]="ticket.fecha" type="date" id="fechaIngreso" class="form-control" name="fechaIngreso" placeholder="dd/mm/aaaa" [(ngModel)]="ticket.fecha" required>
          </div>
    
          <div class="col-12 col-md-6 mb-3">
            <label for="accion" class="form-label">*Acción:</label>
            <select [(ngModel)]="ticket.accion" id="accion" class="form-control" name="accion">
              <option [ngValue]="">Registrar</option>
              <option [ngValue]="">Pendiente</option>
              <option [ngValue]="">Reasignado</option>
              <option [ngValue]="">Finalizado</option>
            </select>
          </div>
    
        </div>
    
        <div class="col mb-3 d-flex justify-content-end">
          <button (click)="cancelar()" class="btn btn-secondary me-2">Cancelar</button>
          <button  class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Actualizar</button>
        </div>  
        
      </form>

      <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary " id="exampleModalToggleLabel">Advertencia:</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>¿Esta seguro de efectuar las actualizaciones?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">No, Cancelar</button>
              <button (click)="updateData()" class="btn btn-success">Si, actualizar</button>
            </div>
          </div>
        </div>
      </div>
  </div>
