<div class="container">
    <div class="home d-flex flex-column justify-content-center align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="mb-4 icon icon-tabler icon-tabler-headset" width="100" height="100" viewBox="0 0 24 24" stroke-width="2" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <rect x="4" y="13" rx="2" width="4" height="6" />
            <rect x="16" y="13" rx="2" width="4" height="6" />
            <path d="M4 15v-3a8 8 0 0 1 16 0v3" />
            <path d="M18 19a6 3 0 0 1 -6 3" />
          </svg>
        <h1 class="mb-4">Support Tickets Management</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis minus fugiat hic eum? Aut magni delectus optio dignissimos, saepe rem laudantium dolor aliquam distinctio repellendus laboriosam possimus, amet repellat maiores. <br><b>Versión 1.0</b></p>
    </div>
</div>

