.home-absolute {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}
.home-content {
    margin: 0 auto;
    text-align: center;
}
@media (min-width: 768px) {
    .home-content {
        width: 60%;
    }
}